@import 'src/styles/function.scss';

.chipBasic {
    padding: 0.1em 0.5em;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--color-gray-2);
    background-color: var(--color-gray-1);
    width: fit-content;
    gap: var(--gap-sm);
    font-size: toRem(22);

    img {
        width: toRem(22);
        height: toRem(22);
    }
}